<div class="card mb-4">
  <div class="card-body bg-light">

    <img src="//api.angular.schule/avatar/{{ book.rating }}"
      class="img-thumbnail float-right ml-2"
      width="200">

    <div class="card-title">
      <h2>
        {{ book.title }}
        <ng-container
          *ngFor="let r of rating">
            ⭐️
        </ng-container>
      </h2>
    </div>

    <p>
      {{ book.description }}
    </p>

    <button
      (click)="doRateDown()"
      class="btn btn-secondary mr-2">-</button>

    <button
      (click)="doRateUp()"
      class="btn btn-primary mr-2">+</button>

    <a [routerLink]="['/book', book.isbn]"
      class="btn btn-primary"
    >Details</a>

  </div>
</div>
